<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
</head>

<body>

    <h1>Weather App</h1>

    <form method="GET">

        <label for="city">Enter City:</label>

        <input type="text" id="city" name="city" placeholder="Enter city">

        <button type="submit">Get Weather</button>

    </form>

    {% if city %}

        <h2>Weather in {{ city }}</h2>

        <p>Temperature: {{ temperature }} °C</p>

        <p>Condition: {{ description }}</p>

        <p>Humidity: {{ humidity }}%</p>

    {% endif %}

    {% if error %}

        <p>{{ error }}</p>

    {% endif %}

</body>
</html>